---
title: "Demonstration of Computing Where-Provenance during Link Traversal-based Query Execution over Decentralized Solid Vaults"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'John Doe', 'http://www.example.org/', 'http://www.example.org/#me' %>

{:#affiliations}
- {:#myaffiliation} Awesome Inc.

<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction' %>
  <%= section 'approach' %>
  <%= section 'conclusions' %>
</main>

<footer></footer>
